@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700&display=swap');

/* for debugg */
/* * {
    outline: solid 0.25rem rgba(255, 0, 0, 0.5);
} */

html {
    scroll-behavior: smooth;
}

header {
    position: relative;
    background: grey;
    width: 100%;
    display: flex;
    height: 100vh;
    background-image: url('../img/headerjpg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header .hamburger-bar {
    display: none;
}

header .fa {
    color: white;
    z-index: 5;
    font-size: 3rem;

}

header .hamburger-menu {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    width: 100%;
    top: 60px;
    text-align: center;
    font-family: 'Open sans', sans-serif;
}

header .hamburger-menu a {
    color: white;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-transform: capitalize;
}

header #logo {
    display: flex;
    z-index: 2;
    align-items: center;
    width: 50%;
    margin-left: 120px;
    margin-top: 15px;
    height: 50px;
    cursor: pointer;

}

header #logo a {
    text-decoration: none;

}

header #logo span {
    font-size: 1.9rem;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

header #menu-links {
    margin-top: 25px;
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
    z-index: 2;
    position: relative;
    font-family: 'Open Sans', sans-serif;


}

header nav#menu-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 40px;
    letter-spacing: 3px;
}

header nav#menu-links a:hover {

    text-decoration: underline;
}





#landing-wrapper {
    position: absolute;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
}

header #top-jumbo {
    z-index: 2;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
}

header #top-jumbo .welcome {
    font-size: 8rem;
    font-family: 'Great Vibes', cursive;
    color: #c7965c;
}

header #top-jumbo h2.top-header {
    font-size: 3.6rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 6px;
    margin-top: -30px;
    font-family: 'Open Sans', sans-serif;
}

header #top-jumbo .left-line {
    background: white;
    height: 2.5px;
    width: 140px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

header #top-jumbo .star {
    display: inline-block;
    vertical-align: middle;

}

header #top-jumbo .fas {
    color: #c7965c;
}

header #top-jumbo .right-line {
    background: white;
    height: 2.5px;
    width: 140px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

header #top-jumbo .ready-to-be-opened {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
    font-family: 'open sans', sans-serif;
}



#about::after {
    content: "";
    clear: both;
    display: table;
}

#about .info {
    display: inline-block;
    width: 40%;
    float: left;
    margin: 50px auto;
    text-align: center;
}

#about .info span.discover {
    font-size: 7rem;
    font-family: 'Great Vibes', cursive;
    color: #c7965c;

}

#about .info h3 {
    font-size: 3.7rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    color: #403e3f;
    letter-spacing: 4px;
    margin-bottom: 30px;
    margin-top: -25px;
}




#about .info .star .fas {
    color: #9b9b9b;
    margin-bottom: 25px;

}

#about .info .description p {
    font-size: 1.2rem;
    font-family: 'Open sans', sans-serif;
    line-height: 25px;
    margin-bottom: 25px;
    color: #525252;
}



#about .info .about-us span {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #c7965c;
    border-bottom: 2px solid #c7965c;
    font-family: 'Open sans', sans-serif;
    margin-bottom: 90px;
    cursor: pointer;

}



#about .img {
    display: inline-block;
    width: 40%;
    float: left;
    margin-top: 90px;
    margin-left: 70px;
    margin-bottom: 90px;

}

#about .img img {
    width: 700px;
    height: 470px;
}

#recipes {
    width: 100%;
    height: 620px;
    background-image: url('../img/recipes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #403e3f;
    overflow: hidden;
}

#recipes .info {
    width: 100%;
    position: relative;
    top: 310px;
    text-align: center;
}

#recipes .info h3 {
    width: 100%;
    font-size: 7rem;
    font-family: 'Great Vibes', cursive;
    font-style: italic;
    color: #c7965c;
    text-transform: capitalize;
    text-align: center;

}


#recipes .info h4 {
    width: 100%;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 6px;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    margin-left: 15px;
    margin-top: -30px;

}


#menu .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

#menu .pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    margin: 80px 0;
    width: 100%;

}

#menu .pictures img {
    width: 250px;
    height: 300px;


}

#menu .right-info {
    width: 100%;
    margin: 110px 50px;

}

#menu .right-info .discover {
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
    color: #c7965c;
    font-style: italic;
    display: flex;
    justify-content: center;

}

#menu .right-info h3 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    color: #403e3f;
    letter-spacing: 4px;
    margin-bottom: 30px;
    margin-top: -25px;
    display: flex;
    justify-content: center;

}

#menu .right-info .star .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    margin-bottom: 25px;
}

#menu .right-info p {
    font-size: 1.2rem;
    font-family: 'Open sans', sans-serif;
    line-height: 30px;
    text-align: center;
    margin-bottom: 35px;
}


#menu .right-info .view-menu {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}

#menu .right-info .view-menu span {
    color: #c7965c;
    border-bottom: 2px solid #c7965c;
    cursor: pointer;

}

#the-perfect-blend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url('../img/moodboard.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#the-perfect-blend span {
    height: 100%;
    font-size: 5rem;
    color: #c7965c;
    font-family: 'Great Vibes', cursive;
    font-style: italic;
    text-transform: capitalize;
}

#the-perfect-blend h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
}


#culinary-delight .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

#culinary-delight .pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 80px 70px;
    /* width: 100%; */

}

#culinary-delight .pictures img {
    width: 100%;
    height: 100%;
}

#culinary-delight .left-info {
    width: 100%;
    margin: 110px 50px;

}



#culinary-delight .left-info .culinary {
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
    color: #c7965c;
    font-style: italic;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

#culinary-delight .left-info h3 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    color: #403e3f;
    letter-spacing: 4px;
    margin-bottom: 30px;
    margin-top: -25px;
    display: flex;
    justify-content: center;

}




#culinary-delight .left-info .star .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    margin-bottom: 25px;
}

#culinary-delight .left-info p {
    font-size: 1.2rem;
    font-family: 'Open sans', sans-serif;
    line-height: 30px;
    text-align: center;
    margin-bottom: 35px;
}


#culinary-delight .left-info .view-menu {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}

#culinary-delight .left-info .view-menu span {
    color: #c7965c;
    border-bottom: 2px solid #c7965c;
    cursor: pointer;

}

#info {
    height: 300px;
    background: #121013;
    color: white;
    font-family: 'Open sans', sans-serif;
    padding: 82px 0;
    position: relative;
}


#info .circle {
    background: white;
    position: absolute;
    top: -30px;
    left: 50%;
    right: 50%;
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;

}

#info .circle .arrow {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

#info .circle .arrow .fas {
    color: black;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
}

#info .circle .top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 10px;
    display: block;
    color: black;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

}

#info .circle .top a {
    color: black;
    text-decoration: none;
}


#info .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#info .locations h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: 1px
}

#info .locations .location {
    display: inline-block;
    margin-left: 80px;
}

#info .locations .location:nth-child(2) {
    margin-left: 0;
}

#info .locations .location p {
    margin-top: 8px;
}

#info .opening-hours h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#info .opening-hours .monday-thursday {
    display: inline-block;
    text-transform: capitalize;
}

#info .opening-hours .monday-thursday p {
    margin-bottom: 8px;
}


#info .opening-hours .friday-saturday {
    display: inline-block;
    margin-left: 10px;
    text-transform: capitalize;
}

#info .opening-hours .friday-saturday p {
    margin-bottom: 8px;
}

#info .opening-hours .private-events {
    display: inline-block;
    margin-left: 10px;
}

footer {
    background: #1c1a1d;
    color: white;
    font-family: 'Open sans', sans-serif;
    padding: 20px 0;
    font-size: 1rem;
}

footer .container {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}



/* Mobile */

@media only screen and (max-width : 768px) {

    header #top-jumbo {
        top: 37%;
        left: 7%;
    }

    header #menu-links {
        display: none;
    }

    header .hamburger-bar {
        display: block;
        color: white;
        z-index: 5;
        font-size: 3rem;
        right: 15px;
        position: absolute;
        top: 10px;
    }

    header #menu-links {
        display: none;
    }



    header .fa {
        position: relative;
        top: 16px;
        left: 63px;
    }

    header #logo span {
        display: none;
    }



    #about .info {
        width: 100%;
        margin: 50px auto;
    }

    #about .info span.discover {
        font-size: 4rem;
    }

    #about .info h3 {
        font-size: 1.6rem;
    }

    #about .info .description p {
        font-size: 1rem;
        width: 80%;
        margin: 50px auto;
    }

    #about .info .about-us span {
        font-size: 1rem;
    }

    #about .img {
        display: none;
    }


    #recipes .info h3 {
        font-size: 4.5rem;
    }

    #recipes .info h4 {
        font-size: 1.6rem;
    }

    #menu .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    #menu .right-info {
        margin: 50px auto;
    }


    #menu .right-info .discover {
        font-size: 3.6rem;
    }

    #menu .right-info h3 {
        font-size: 1.8rem;
    }

    #menu .right-info p {
        font-size: 1rem;
        width: 80%;
        margin: 50px auto;
    }

    #menu .right-info .view-menu {
        font-size: 1rem;
        margin: 0 auto;
    }

    #menu .pictures {
        display: none;
    }

    #menu .pictures img {
        display: none;
    }

    #the-perfect-blend span {
        font-size: 4rem;
    }

    #the-perfect-blend h3 {
        font-size: 1.6rem;
    }

    #culinary-delight {
        text-align: center;

    }

    #culinary-delight .left-info {
        margin: 50px auto;

    }



    #culinary-delight .left-info p {
        font-size: 1rem;
        text-align: center;
        width: 80%;
        margin: 50px auto;
    }

    #culinary-delight .left-info .culinary {
        font-size: 4rem;
        text-align: center;
    }

    #culinary-delight .left-info h3 {
        font-size: 1.6rem;
        text-align: center;
    }

    #culinary-delight .left-info .view-menu {
        font-size: 1rem;
        text-align: center;
    }

    #culinary-delight .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    #culinary-delight .pictures {
        display: none;
    }

    #culinary-delight .pictures img {
        display: none;
    }

    #info {
        height: auto;
        text-align: center;
    }

    #info .circle {
        left: 46%;
    }

    #info .locations {
        display: block;
        width: 100%;
        text-align: center;
    }


    #info .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    #info .opening-hours {

        margin-top: 50px;
    }


    #info .opening-hours .private-events {
        display: block;
        margin-top: 10px;
    }

    footer {
        text-align: center;
    }


}